.button-resting {
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
  border: 1px solid #545454;
  background-color: #ffffff;
  color: #545454;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  padding: 4px 10px;
  transition: all 0.2s ease;
}

.button-resting:hover {
  background-color: rgba(84, 84, 84, 0.05);
  border: 1px solid #545454;
}

.button-resting:hover > span {
  color: #545454 !important;
}

.button-active {
  background: #545454;
  color: #ffffff;
  border: 1px solid #545454;
}

.button-active:hover {
  background: #545454;
  color: #ffffff;
  border: 1px solid #545454;
}

.button-resting:focus {
  outline: none;
}
